<header class="header">
    <h1 class="header__title">Ultimate Frisbee Florida</h1>

    <p class="header__p">
        Esta es la pagina oficial de <span>Ultimate Frisbee Florida.</span> 
        En ella se podra encontrar las ultimas noticias relacionadas con el Ultimate en Florida, 
        asi como toda la informacion relacionada con la <span>LUFF</span>, la Liga oficial de Florida.
    </p>
    <p class="header__p">
        Si bien la página se encuentra en creacion ya puede ver toda la informacion 
        relacionada con la LUFF, asi como informacion sobre el Ultimate, sus reglas y demas.
    </p>
</header>

<section class="section">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LUFF 2023</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/luff/luff-2023.jpg" alt="Foto de la LUFF">
        <!-- <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content> -->
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</section>

