:host {
  display: block;
}

@media (min-width: 900px) {
  #menuIcon, .menuLogo {
    display: none;
  }
}

@media (max-width: 900px) {
  .menuItem {
    display: none;
  }
}

.toolbarMenu {
  margin: 0 auto;
  max-width: 1200px;
}
